services:
  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: finance_app
    volumes:
      - .:/var/www
    depends_on:
      mysql:
        condition: service_healthy
    networks:
      - finance_net

  mysql:
    image: mysql:8.0
    container_name: finance_mysql
    restart: unless-stopped
    environment:
      MYSQL_DATABASE: finance_app
      MYSQL_USER: laravel
      MYSQL_PASSWORD: laravel
      MYSQL_ROOT_PASSWORD: root
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      timeout: 5s
      retries: 5
    networks:
      - finance_net

  nginx:
    image: nginx:alpine
    container_name: finance_nginx
    ports:
      - "8000:80"
    volumes:
      - .:/var/www
      - ./docker/nginx/default.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - app
    networks:
      - finance_net

networks:
  finance_net:

volumes:
  mysql_data:
